<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <%- (errMessage ? "<p>" + errMessage + "</p>" : '') %>
  <form class="" action="users/login" method="post">
    <label for="">User</label><br/>
    <input type="text" name="user" value=""><br/>
    <label for="">Pw</label><br/>
    <input type="password" name="pw" value=""><br/><br/>
    <button type='submit' class='btn btn-lg btn-default '>Submite</button>
  </form>
</body>
</html>
