<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <% travellist.forEach(function(item) { %>
    <li><%= item.nome + ", " + item.Local %></li>
    <% }); %>
  </body>
  </html>
